@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-sans;
    }
  }

@theme {
    --color-primary: #005248;   /* Aapka primary color */
    --color-secondary: #F69705; /* Aapka secondary color */
    --color-neutral: #FFFFFF;
    --color-info: #EFF8F7;
    --color-success: #F8F8FE;
  }

:root {

    --radius: 0.6rem;
}

@theme inline {

    --radius-sm: calc(var(--radius) - 4px);

    --radius-md: calc(var(--radius) - 2px);

    --radius-lg: var(--radius);

    --radius-xl: calc(var(--radius) + 4px);
}

.font-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.font-mulish {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.animated-btn {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.animated-btn:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
}

